<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Choices</title>
    <link rel="stylesheet" href="{% static 'quizzes/css/styles.css' %}">
</head>
<body>
    <h1>Choices for Question "{{ question.text }}"</h1>
    <ul>
        {% for choice in choices %}
        <li>{{ choice.text }}</li>
        {% empty %}
        <li>No choices available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'quizzes:dashboard' %}">Back to Dashboard</a>
</body>
</html>

 -->
 <div class="form-container">
    <h1>Create a Quiz</h1>
    <form method="POST">
        {% csrf_token %}
        {{ quiz_form.as_p }}
        <button type="submit">Create Quiz</button>
    </form>
    
</div>